---
# geerlingguy.docker
docker_compose_version: v2.16.0

# ktz-dhcp-dns (pihole)
dnsmasq_config_dir: /etc/dnsmasq.d
pihole_config_dir: /etc/pihole
running_as_container: false

## ironicbadger.docker_compose_generator
docker_compose_generator_output_path: /root/
containers:
# caddy?
###
  - service_name: pihole
    active: false
    image: pihole/pihole
    network_mode: host
    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    # ports:
    #   - "53:53/tcp"
    #   - "53:53/udp"
    #   - "67:67/udp" # Only required if you are using Pi-hole as your DHCP server
    #   - "80:80/tcp"
    environment:
      TZ: 'America/New_York'
      WEBPASSWORD: "{{ main_pass_lower }}"
    volumes:
      - "{{ pihole_config_dir }}:/etc/pihole"
      - "{{ dnsmasq_config_dir }}:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped    
###
  - service_name: unifi
    active: true
    image: linuxserver/unifi-controller
    ports:
      - 8443:8443
      - 8080:8080
      - 3478:3478/udp
    volumes:
      - "/opt/appdata/unifi:/config"
    include_global_env_vars: true
    restart: unless-stopped
###
  - service_name: leases
    active: false
    image: nginx
    volumes:
      - "{{ pihole_config_dir }}:/usr/share/nginx/html:ro"
    ports:
      - 81:80
    restart: unless-stopped
###
  - service_name: smokeping
    active: true
    image: linuxserver/smokeping
    hostname: pi8
    ports:
      - 8009:80
    volumes:
      - "/opt/appdata/smokeping/config:/config"
      - "/opt/appdata/smokeping/data:/data"
    include_global_env_vars: true
    restart: unless-stopped

# ktz-dhcpdns
default_domain: "wd.ktz.me"
network_cidr: 10.42.0.0/21
dhcp_range_start: 10.42.7.100
dhcp_range_end: 10.42.7.250
dhcp_router: 10.42.0.254
dhcp_active: "true"

dns_overrides:
  # try to use sparingly and must be FQDN
  - {ip: 10.42.0.252, custom_dns: "wd.ktz.me"}
  - {ip: 10.42.0.252, custom_dns: "opnsense.wd.ktz.me"}
  - {ip: 10.42.0.252, custom_dns: "dns.wd.ktz.me"}
  - {ip: 10.42.0.252, custom_dns: "zoidberg.wd.ktz.me"}
  #- {ip: 10.42.0.251, custom_dns: "ipmi.m.wd.ktz.me"}
  #- {ip: 10.42.0.251, custom_dns: "ipmi.anton.wd.ktz.me"}
  - {ip: 10.42.1.99, custom_dns: "hass.ktz.me"}
  - {ip: 10.42.1.10, custom_dns: "nc.ktz.cloud"}
  - {ip: 10.42.1.10, custom_dns: "git.ktz.me"}
  - {ip: 100.105.174.16, custom_dns: "gg.ktz.me"}
  - {ip: 10.42.0.250, custom_dns: "unifi"}
  - {ip: 10.42.0.250, custom_dns: "inform.unifi.wd.ktz.me"}
  - {ip: 10.42.4.2, custom_dns: "test.badgersbits.io"}

dhcp_reservations:
  # CORE INFRA
  ## FIREWALL
  - {mac: 70:54:d2:45:9d:86, ip: 10.42.0.254, hostname: opnsense, custom_dns: ["opnsense.firewall"]}
  ## c137
  - {mac: 7C:2B:E1:13:84:D7, ip: 10.42.0.1, hostname: c137}
  #- {mac: 7C:2B:E1:13:84:D8, ip: 10.42.0.1, hostname: c137}
  #- {mac: 7C:2B:E1:13:84:D9, ip: WAN, hostname: opnsenseWAN} # WAN DHCP - passed through
  #- {mac: 7C:2B:E1:13:84:DA, ip: 10.42.0.254, hostname: opnsense, custom_dns: ["opnsense.c137"]} # LAN - passed through
  ### c137 services
  - {mac: FA:4C:95:A5:72:39, ip: 10.42.0.250, hostname: unifi}
  - {mac: CE:87:AE:C2:BB:AE, ip: 10.42.0.251, hostname: nginx}
  - {mac: 7E:23:21:86:2C:43, ip: 10.42.0.252, hostname: caddy}
  - {mac: FE:31:84:32:25:A3, ip: 10.42.0.253, hostname: pihole}
  - {mac: b8:85:84:b5:84:55, ip: 10.42.1.99, hostname: ha} #dell7050
  #- {mac: 64:51:06:5e:d4:67, ip: 10.42.1.99, hostname: ha} #prodesk600g1

  ## morpheus - PRIMARY SERVER
  - {mac: D0:50:99:DC:4D:D5, ip: 10.42.1.10, hostname: morpheus, custom_dns: ["m"]} #eno1
  - {mac: D0:50:99:F2:D9:38, ip: 10.42.1.11, hostname: morpheus-ipmi}
  ### morpheus services
  - {mac: BA:F4:A4:1E:EF:C0, ip: 10.42.1.96, hostname: cat-calibre}

  ## anton - BACKUP SERVER
  - {mac: D0:50:99:DB:B2:2D, ip: 10.42.1.20, hostname: anton} #eno1
  - {mac: D0:50:99:F2:8F:57, ip: 10.42.1.21, hostname: anton-ipmi} 

  ## m1 - TEST SERVER
  - {mac: E0:D5:5E:2D:FE:61, ip: 10.42.1.30, hostname: m1}

  ## bender - dell 7050-1
  #- {mac: E0:D5:5E:2D:FE:61, ip: 10.42.1.41, hostname: dell7050-1}

  ## zoidberg - dell 7050-2
  - {mac: E4:B9:7A:FB:3E:53, ip: 10.42.1.42, hostname: zoidberg, custom_dns: ["z"]}

  #########
  ## networking equipment
  ### wifi
  - {mac: ac:8b:a9:57:82:61, ip: 10.42.0.110, hostname: unifi-u6-pro-bonus}  
  - {mac: ac:8b:a9:1c:ad:09, ip: 10.42.0.111, hostname: unifi-u6-pro-hallway}  
  - {mac: e0:63:da:33:2a:fd, ip: 10.42.0.112, hostname: unifi-uap-ac-iw-kitchen}  
  - {mac: e0:63:da:67:f3:8c, ip: 10.42.0.113, hostname: unifi-uap-ac-m-deck}
  #- {mac: 80:2a:a8:90:4c:9d, ip: 10.42.1.41, hostname: unifi-uap-ac-pro-hallway}  

  ### primary switches
  - {mac: 60:22:32:59:ad:d5, ip: 10.42.0.120, hostname: unifi-usw-aggregation-bonus}
  - {mac: 60:22:32:59:ae:47, ip: 10.42.0.121, hostname: unifi-usw-aggregation-basement}
  ### poe switches
  - {mac: ac:8b:a9:a1:58:16, ip: 10.42.0.122, hostname: unifi-usw-24poe-bonus}
  - {mac: ac:8b:a9:a1:59:d8, ip: 10.42.0.123, hostname: unifi-usw-24poe-basement}
  - {mac: ac:8b:a9:68:63:2b, ip: 10.42.0.124, hostname: unifi-usw-lite-16-poe}
  ### other switches
  - {mac: 60:22:32:46:6f:c5, ip: 10.42.0.125, hostname: unifi-usw-flex-mini1-office}
  - {mac: 60:22:32:46:7f:d4, ip: 10.42.0.126, hostname: unifi-usw-flex-mini3-basement}
  - {mac: 60:22:32:46:6f:64, ip: 10.42.0.127, hostname: unifi-usw-flex-mini4-bonusdrums}
  - {mac: d0:21:f9:bd:82:9e, ip: 10.42.0.128, hostname: unifi-usw-flex-mini5-bonustv}

  #########
  ## misc servers
  - {mac: e4:5f:01:08:89:ca, ip: 10.42.1.80, hostname: octopi-bricktop} #pi4 4gb
  #- {mac: e4:5f:01:08:be:cb, ip: 10.42.0.100, hostname: pi4-2gb} #pi4 2gb
  - {mac: b8:27:eb:2f:ee:4f, ip: 10.42.1.83, hostname: basement-nut-pi3} #pi3
  - {mac: 38:60:77:0d:ee:6d, ip: 10.42.1.84, hostname: gavinbelson} #wallpc  
  - {mac: dc:a6:32:b1:16:27, ip: 10.42.0.100, hostname: pi8} #pi4 8gb

  #########
  ## audio equipment
  - {mac: 00:15:64:03:0a:5e, ip: 10.42.1.90, hostname: x32rack}
  - {mac: 00:15:64:08:25:31, ip: 10.42.1.91, hostname: xtouch}

  #########
  ## media players and TVs
  - {mac: 48:b0:2d:05:2b:61, ip: 10.42.1.100, hostname: shield-bonus}
  - {mac: 00:04:4b:48:e5:f1, ip: 10.42.1.101, hostname: shield-lounge}
  - {mac: cc:a1:2b:6e:18:d7, ip: 10.42.1.102, hostname: roku-kitchen-tv}
  - {mac: 9c:95:61:3b:4c:e5, ip: 10.42.1.103, hostname: roku-livingroom-tv}
  - {mac: 74:40:be:ac:99:de, ip: 10.42.1.104, hostname: lgc9-bonus-tv}
  - {mac: ec:0b:ae:98:c8:2b, ip: 10.42.1.105, hostname: broadlink-remote-bonus}
  - {mac: 00:18:dd:06:8d:4c, ip: 10.42.1.106, hostname: hdhomerun}

  #########
  ## cameras (Wyze, PoE)
  #- {mac: 00:8e:25:73:02:1e, ip: 10.42.2.1, hostname: blueiris}
  - {mac: f4:39:09:44:1d:d5, ip: 10.42.2.1, hostname: blueiris}
  
  - {mac: 9c:8e:cd:22:2b:ff, ip: 10.42.2.10, hostname: amcrest-driveway-left}
  - {mac: ec:71:db:ba:75:13, ip: 10.42.2.11, hostname: reolink-driveway-right}
  #- {mac: ec:71:db:ba:75:13, ip: 10.42.2.12, hostname: reolink-?}
  - {mac: ec:71:db:8a:55:a9, ip: 10.42.2.13, hostname: reolink-doorbell}
  - {mac: ec:71:db:e7:c3:27, ip: 10.42.2.14, hostname: reolink-bins}
  - {mac: ec:71:db:b1:f4:48, ip: 10.42.2.15, hostname: reolink-yard-upper}
  #- {mac: ec:71:db:00:60:b3, ip: 10.42.2.16, hostname: reolink-yard-lower}
  - {mac: ec:71:db:00:60:b3, ip: 10.42.2.17, hostname: reolink-deck}
  #- {mac: ec:71:db:00:60:b3, ip: 10.42.2.18, hostname: reolink-deck-under}

  - {mac: 80:91:33:d1:90:f7, ip: 10.42.2.110, hostname: ezviz-doorbell}
  - {mac: d0:3f:27:4e:90:ca, ip: 10.42.2.111, hostname: wyze-bonus}
  - {mac: 2c:aa:8e:fa:36:53, ip: 10.42.2.112, hostname: wyze-nursery}
  - {mac: 7c:78:b2:23:0b:46, ip: 10.42.2.113, hostname: wyze-music-room}
  - {mac: 2c:aa:8e:25:54:2a, ip: 10.42.2.114, hostname: wyze-lounge}
  - {mac: 2c:aa:8e:0b:d4:1e, ip: 10.42.2.115, hostname: wyze-garage}

  #########
  ## local IoT
  - {mac: f0:45:da:39:fc:29, ip: 10.42.5.1, hostname: venstar_downstairs}
  - {mac: 74:e1:82:23:18:25, ip: 10.42.5.2, hostname: venstar_upstairs}

  - {mac: 2c:f4:32:a9:cf:56, ip: 10.42.5.10, hostname: sonoff_basic_kitchen_hob}
  - {mac: 2c:f4:32:a9:cc:c8, ip: 10.42.5.11, hostname: sonoff_basic_garage_nook_lights}
  - {mac: bc:dd:c2:44:8f:ac, ip: 10.42.5.12, hostname: sonoffsv_garage_door_workshop}
  - {mac: bc:dd:c2:44:8e:93, ip: 10.42.5.13, hostname: sonoffsv_garage_door_car}

  - {mac: 8c:aa:b5:06:06:19, ip: 10.42.5.30, hostname: shelly1pm_masterbed_ceiling_fan}
  - {mac: 8c:aa:b5:05:79:ff, ip: 10.42.5.31, hostname: shelly1pm_garage_driveway_light}
  - {mac: c8:2b:96:10:bf:24, ip: 10.42.5.32, hostname: shelly2_garage_main_lights}
  - {mac: c8:2b:96:10:fa:03, ip: 10.42.5.33, hostname: shelly2_kitchen_lights}
  - {mac: 98:f4:ab:f3:e8:c8, ip: 10.42.5.34, hostname: shelly2_wallswitch_rear_outdoor_lights}
  - {mac: 84:cc:a8:9f:c8:7b, ip: 10.42.5.35, hostname: shelly1_basement_lights}
  - {mac: 98:f4:ab:f3:1e:f4, ip: 10.42.5.36, hostname: shelly2_kitchen_bumpout_lights} #tasmota
  - {mac: e8:db:84:a1:d5:cc, ip: 10.42.5.37, hostname: shelly2_downstairs_hallway} #tasmota

  - {mac: cc:50:e3:03:95:61, ip: 10.42.5.50, hostname: sp20-lounge-left-builtin-light}
  - {mac: cc:50:e3:03:44:a6, ip: 10.42.5.51, hostname: sp20_loungetv} #notinuse
  - {mac: 80:7d:3a:7d:8c:66, ip: 10.42.5.52, hostname: sp20_basement_rack} #notinuse
  - {mac: cc:50:e3:03:a1:55, ip: 10.42.5.53, hostname: sp20_garage_car}
  - {mac: cc:50:e3:57:b7:e3, ip: 10.42.5.54, hostname: sp20_morpheus}
  - {mac: a4:cf:12:c4:12:46, ip: 10.42.5.55, hostname: ss30_bonustv}
  - {mac: 3c:71:bf:20:51:e8, ip: 10.42.5.56, hostname: sp20_guitar}

  - {mac: 50:02:91:ec:a9:df, ip: 10.42.5.60, hostname: cfsp_bonus_sun}
  - {mac: 50:02:91:ec:a9:de, ip: 10.42.5.61, hostname: cfsp_driveway_wall_lights}
  - {mac: a8:48:fa:e3:57:03, ip: 10.42.5.62, hostname: cfsp_tinkerspace_uplights}
  - {mac: 98:cd:ac:25:b5:01, ip: 10.42.5.63, hostname: cfsp_bricktop}
  - {mac: 98:cd:ac:25:7b:35, ip: 10.42.5.64, hostname: cfsp_bonusdesk_testing}
  - {mac: e8:db:84:c9:40:00, ip: 10.42.5.65, hostname: cfsp_musicroom_dresser_lamp}
  - {mac: dc:4f:22:67:c3:80, ip: 10.42.5.66, hostname: cfsp_musicroom_piano_lamp}
  - {mac: 4c:eb:d6:0f:61:fa, ip: 10.42.5.67, hostname: mjsp_bonus_uplighter}

  - {mac: 24:62:ab:f9:26:9c, ip: 10.42.5.80, hostname: esp32_energy_monitor}
  - {mac: 8c:aa:b5:8c:6c:14, ip: 10.42.5.81, hostname: esp32_xiths_upstairs_bonus}
  - {mac: fc:f5:c4:26:fc:0c, ip: 10.42.5.82, hostname: esp32_xiths_upstairs_bedrooms}
  - {mac: 8c:aa:b5:8b:39:1c, ip: 10.42.5.83, hostname: esp32_xiths_downstairs}
  - {mac: 98:f4:ab:da:66:33, ip: 10.42.5.84, hostname: sensor-attic-temp}
  - {mac: 84:f3:eb:e3:d8:92, ip: 10.42.5.85, hostname: sensor-basement-temp}
  - {mac: ec:fa:bc:c2:b6:a3, ip: 10.42.5.86, hostname: sensor-outdoor-temp}
  - {mac: 84:0d:8e:b1:12:05, ip: 10.42.5.87, hostname: sensor-bonus-closet-temp}
  - {mac: 84:f3:eb:e3:da:41, ip: 10.42.5.88, hostname: sensor-bonus-temp}

  ### WLED
  - {mac: 84:f3:eb:e3:71:3b, ip: 10.42.5.90, hostname: wled_kitchen_wetbar}

  ### Local IoT Projects
  - {mac: a8:03:2a:e2:f7:58, ip: 10.42.5.100, hostname: flightdisplay_rdu}


  #########
  ## cloud IoT
  - {mac: 84:d6:c5:0c:37:fd, ip: 10.42.5.170, hostname: solaredge-conversion-therapy-box}
  - {mac: 24:6f:28:14:81:7a, ip: 10.42.5.171, hostname: thermoworks-signals}
  - {mac: fc:01:7c:ab:80:6b, ip: 10.42.5.172, hostname: brother-printer}
  - {mac: 50:ec:50:10:ac:fe, ip: 10.42.5.173, hostname: robovac_downstairs}
  - {mac: 50:ec:50:18:ae:7a, ip: 10.42.5.174, hostname: robovac_upstairs}
  - {mac: b4:e6:2d:4e:47:01, ip: 10.42.5.175, hostname: eufy-vac}
  
  ## Voice assistant boxes
  - {mac: 50:f5:da:03:38:94, ip: 10.42.5.180, hostname: amazon-echo-garage}
  - {mac: 20:1f:3b:89:da:6a, ip: 10.42.5.181, hostname: google-privacy-invasion-device1}
  - {mac: f8:0f:f9:4c:d9:88, ip: 10.42.5.182, hostname: google-privacy-invasion-device2}
  - {mac: 1c:f2:9a:54:de:55, ip: 10.42.5.183, hostname: google-privacy-invasion-device3}
  - {mac: f8:0f:f9:60:a0:0d, ip: 10.42.5.184, hostname: google-privacy-invasion-device4}
  - {mac: 1c:f2:9a:6b:9c:b8, ip: 10.42.5.185, hostname: google-display-bedroom}
  # - {mac: 50:f5:da:03:38:94, ip: 10.42.5.186, hostname: google-privacy-invasion-device6}
  - {mac: ac:bc:b5:c9:fc:3b, ip: 10.42.5.187, hostname: homepod-kitchen}
  

  ## LG Appliances
  - {mac: 74:40:be:c4:79:cf, ip: 10.42.5.197, hostname: lg-washer}
  - {mac: 2c:2b:f9:97:d8:b7, ip: 10.42.5.198, hostname: lg-dryer}
  - {mac: 74:9e:a5:af:b7:58, ip: 10.42.5.199, hostname: lg-bonusac}

  ## Yeelights
  - {mac: 5c:e5:0c:e1:77:b2, ip: 10.42.5.200, hostname: yeelink_bonus_tinkerspace_1}
  - {mac: 5c:e5:0c:e1:75:fd, ip: 10.42.5.201, hostname: yeelink_bonus_tinkerspace_2}
  - {mac: 5c:e5:0c:e1:7a:20, ip: 10.42.5.202, hostname: yeelink_bonus_tinkerspace_3}
  - {mac: 5c:e5:0c:e1:77:b7, ip: 10.42.5.203, hostname: yeelink_bonus_tv_corner} #TODO: where?
  - {mac: 7c:49:eb:19:93:53, ip: 10.42.5.204, hostname: yeelink_bonus_drum_rgb}

  ## Elgato 
  - {mac: 3c:6a:9d:19:06:d5, ip: 10.42.5.205, hostname: elgato_keylight_left} #d9fe
  #- {mac: 7c:49:eb:19:93:53, ip: 10.42.5.206, hostname: elgato_keylight_right} 

  ## Govee
  - {mac: d4:ad:fc:22:e7:02, ip: 10.42.5.210, hostname: govee-ledstick-bonus-corner}
  - {mac: d4:ad:fc:23:e3:c3, ip: 10.42.5.211, hostname: govee-lightbar-bonus-tv}
  - {mac: d4:ad:fc:23:6b:4e, ip: 10.42.5.212, hostname: govee-lightbar-bonus-drums}
  - {mac: d4:ad:fc:22:e7:76, ip: 10.42.5.213, hostname: govee-ledstick-bonus-sofa}
  - {mac: d4:ad:fc:03:70:20, ip: 10.42.5.214, hostname: govee-ledbar-bonus-window}
  - {mac: 7c:a6:b0:a6:d9:51, ip: 10.42.5.218, hostname: govee-outdoor-deck-stringlight}

  # ### Shelly Bulbs
  - {mac: ec:fa:bc:6f:77:ee, ip: 10.42.5.220, hostname: shelly-cage-bulb-drums}
  - {mac: ec:fa:bc:6f:77:bf, ip: 10.42.5.221, hostname: shelly-cage-bulb-masterbed-lamp}

  #########
  ## primary clients (desktop, servers, laptops, phones, tablets)
  - {mac: f0:2f:4b:00:a3:d5, ip: 10.42.3.10, hostname: slartibartfast}
  - {mac: C4:AC:AA:05:04:16, ip: 10.42.3.11, hostname: alex-iphone}
  - {mac: 70:ea:5a:12:bb:70, ip: 10.42.3.12, hostname: alex-ipad}
  - {mac: 48:01:c5:6e:f1:59, ip: 10.42.3.13, hostname: alex-oneplus7t}
  - {mac: bc:d0:74:15:d5:d1, ip: 10.42.3.14, hostname: alex-laptop-work}
  - {mac: 2c:3b:70:d5:59:09, ip: 10.42.3.15, hostname: steam-deck}

  - {mac: 0c:e4:41:ef:49:59, ip: 10.42.3.40, hostname: cat-laptop} #m1 air
  - {mac: dc:b5:4f:ab:cf:65, ip: 10.42.3.41, hostname: cat-iphone}
  - {mac: 58:64:C4:6D:21:E0, ip: 10.42.3.42, hostname: cat-ipad}
  - {mac: 84:d6:d0:fb:90:ce, ip: 10.42.3.43, hostname: cat-fire} #m1 air

  #- {mac: 00:50:56:9f:22:3c, ip: 10.42.13.80, hostname: ella-ipad}

  - {mac: 64:4b:f0:19:05:a3, ip: 10.42.3.100, hostname: caldigit-ts3}
  - {mac: 64:4b:f0:37:2b:84, ip: 10.42.3.101, hostname: caldigit-ts4}

  #- {mac: 38:ba:f8:59:fd:a3, ip: 10.42.13.110, hostname: t480s-ethernet}
  #- {mac: 38:ba:f8:59:fd:a3, ip: 10.42.13.111, hostname: t480s-wifi}
  #- {mac: 5c:c5:d4:db:65:1e, ip: 10.42.13.112, hostname: x240-ethernet}
  - {mac: 5c:c5:d4:db:65:1e, ip: 10.42.3.113, hostname: x240-wifi}


## BLOCKED until identity confirmed

# blocked in unifi
# be:71:0c:09:54:49
# 3e:df:33:de:2f:d4
# 3c:6a:9d:14:dd:82 - dexatek