[submodule "roles/ansible-role-caddy"]
	path = roles/ansible-role-caddy
	url = https://github.com/ironicbadger/ansible-role-caddy.git
[submodule "roles/ironicbadger.caddy"]
	path = roles/ironicbadger.caddy
	url = https://github.com/ironicbadger/ansible-role-caddy.git
[submodule "roles/ironicbadger.docker-compose-generator"]
	path = roles/ironicbadger.docker-compose-generator
	url = git@github.com:ironicbadger/ansible-role-docker-compose-generator.git
[submodule "roles/ironicbadger.figurine"]
	path = roles/ironicbadger.figurine
	url = git@github.com:ironicbadger/ansible-role-figurine.git
[submodule "roles/ironicbadger.tailscale-routes-fix"]
	path = roles/ironicbadger.tailscale-routes-fix
	url = git@github.com:ironicbadger/tailscale-routes-fix.git
[submodule "roles/ironicbadger.lxc-debian-nvidia"]
	path = roles/ironicbadger.lxc-debian-nvidia
	url = git@ssh.github.com:ironicbadger/lxc-debian-nvidia.git
[submodule "roles/ironicbadger.packages"]
	path = roles/ironicbadger.packages
	url = git@ssh.github.com:ironicbadger/ansible-role-packages.git
[submodule "roles/ironicbadger.mounts"]
	path = roles/ironicbadger.mounts
	url = git@github.com:ironicbadger/ansible-role-drivemounts.git
[submodule "roles/ironicbadger.proxmox-host-nvidia-setup"]
	path = roles/ironicbadger.proxmox-host-nvidia-setup
	url = git@ssh.github.com:ironicbadger/proxmox-host-nvidia-setup.git
