
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
WEBPASSWORD=2bb970881b6e9aca5745c2577d9f68bfb2ff45025aedbe1272b719614e3acf36
BLOCKING_ENABLED=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR={{ network_cidr }}
REV_SERVER_TARGET={{ dhcp_router }}
REV_SERVER_DOMAIN=
PIHOLE_DNS_1=1.1.1.1
PIHOLE_DNS_2=1.0.0.1
DHCP_ACTIVE={{ dhcp_active }}
DHCP_START={{ dhcp_range_start }}
DHCP_END={{ dhcp_range_end }}
DHCP_ROUTER={{ dhcp_router }}
DHCP_LEASETIME=24
PIHOLE_DOMAIN={{ default_domain }}
DHCP_IPv6=false
DHCP_rapid_commit=false
