connection: postgres
host: postgres
user: {{ status_statping_db_user }}
password: {{ status_statping_db_password }}
database: {{ status_statping_db_database }}
port: 5432
api_secret: {{ status_statping_api_secret }}
language: en
location: /app
disable_http: false
demo_mode: false
disable_logs: false
use_assets: false
sample_data: false
use_cdn: false
disable_colors: false
