http:
  routers:
    router-blueiris:
      entryPoints:
        - websecure
      rule: "Host(`bi.wd.{{ domain_me }}`)"
      service: service-blueiris
      tls:
        certResolver: cloudflare
    router-octoprint:
      entryPoints:
        - websecure
      rule: "Host(`bricktop.{{ domain_me }}`)"
      service: service-octoprint
      tls:
        certResolver: cloudflare
  services:
    service-blueiris:
      loadBalancer:
        servers:
        - url: "http://10.42.1.100:83"
    service-octoprint:
      loadBalancer:
        servers:
        - url: "http://192.168.13.16:80"
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://login.m.wd.{{ domain_me }}"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/24"
        - "192.168.0.0/16"
        - "172.0.0.0/8"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers