http:
  routers:
    router-blueiris:
      entryPoints:
        - websecure
      rule: "Host(`bi.{{ domain_me }}`)"
      service: service-blueiris
      tls:
        certResolver: cloudflare
    router-octoprintog:
      entryPoints:
        - websecure
      rule: "Host(`boris.{{ domain_l }}`)"
      service: service-octoprintog
      tls:
        certResolver: cloudflare
    router-octoprint:
      entryPoints:
        - websecure
      rule: "Host(`bricktop.{{ domain_l }}`)"
      service: service-octoprint
      tls:
        certResolver: cloudflare
    router-proxmox:
      entryPoints:
        - websecure
      rule: "Host(`px.{{ domain_l }}`)"
      service: service-proxmox
      tls:
        certResolver: cloudflare
  services:
    service-blueiris:
      loadBalancer:
        servers:
        - url: "http://192.168.1.200:83"
    service-octoprintog:
      loadBalancer:
        servers:
        - url: "http://192.168.2.3:80"
    service-octoprint:
      loadBalancer:
        servers:
        - url: "http://192.168.2.4:80"
    service-proxmox:
      loadBalancer:
        servers:
        - url: "http://192.168.1.10:8006"
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://login.m.ktz.lol"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/24"
        - "192.168.0.0/16"
        - "172.0.0.0/8"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers