http:
  routers:
    router-blueiris:
      entryPoints:
        - websecure
      rule: "Host(`bi.{{ domain_me }}`)"
      service: service-blueiris
      tls:
        certResolver: cloudflare
    router-octoprint:
      entryPoints:
        - websecure
      rule: "Host(`bricktop.{{ domain_l }}`)"
      service: service-octoprint
      tls:
        certResolver: cloudflare
    router-proxmox:
      entryPoints:
        - websecure
      rule: "Host(`px.{{ domain_l }}`)"
      service: service-proxmox
      tls:
        certResolver: cloudflare
  services:
    service-blueiris:
      loadBalancer:
        servers:
        - url: "http://192.168.1.200:83"
    service-octoprint:
      loadBalancer:
        servers:
        - url: "http://192.168.2.4:80"
    service-proxmox:
      loadBalancer:
        servers:
        - url: "http://192.168.1.10:8006"