global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090
  - job_name: nut
    metrics_path: /ups_metrics
    static_configs:
      - targets:
          - nut-exporter:9199
