---

- name: check whether sanoid is installed
  shell: "dpkg-query -W '{{ sanoid_apt_package_name }}'"
  ignore_errors: True
  register: is_installed
  changed_when: "is_installed.rc != 0"

- name: install sanoid?
  set_fact:
    install_sanoid: "{{ sanoid_build_from_source is true or is_installed is failed }}"

- name: install git
  package:
    name: git
    state: present
  when: sanoid_build_from_source

- name: build sanoid | clone git repo
  git:
    repo: https://github.com/IronicBadger/docker-sanoid-builder.git
    dest: /tmp/sanoid
    force: yes
  when: sanoid_build_from_source

## build

- name: build sanoid | make build script executable
  file:
    path: /tmp/sanoid/build.sh
    mode: 0775
  when: install_sanoid

- name: build sanoid | build .deb package
  shell: cd /tmp/sanoid && ./build.sh
  when: install_sanoid

- name: install dependencies for sanoid
  apt:
    name: libcapture-tiny-perl
    state: present
  when: install_sanoid

- name: build sanoid | install built .deb
  apt:
    deb: /tmp/sanoid/sanoid_2.1.0_all.deb
    install_recommends: yes
    state: present
  when: install_sanoid

#######

- name: create target dir for sanoid config
  file:
    path: /etc/sanoid
    state: directory

- name: configure sanoid
  copy:
    #src: sanoid/sanoid.conf
    src: "sanoid/{{ sanoid_config_source }}"
    dest: /etc/sanoid/sanoid.conf
    owner: root
    group: root
    mode: '0644'