(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_cloudflare_api_token }}
  }
}

(headers) {
  header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain_me }} *.{{ domain_wd_me }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain_me }} *.{{ domain_wd_me }}), microphone=()"
  }
}

# opnsense
adguard.{{ domain_wd_me }} {
  reverse_proxy http://10.42.0.254:8080
  import cloudflare
}

opnsense.{{ domain_wd_me }} {
  reverse_proxy https://opnsense.{{ domain_wd_me }}:8443
  import cloudflare
}

# blue iris
bi.{{ domain_wd_me }} {
  reverse_proxy http://10.42.1.100:83
  import cloudflare
}

# octoprint
bricktop.{{ domain_wd_me }} {
  reverse_proxy https://10.42.13.16:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# ipmi
ipmi.m.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.11 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  reverse_proxy https://10.42.1.11
  import cloudflare
}

ipmi.anton.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.21 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
  import headers
}

ipmi.awesomo.{{ domain_wd_me }} {
  reverse_proxy http://10.42.1.31
  import cloudflare
}

home.{{ domain_wd_me }} {
  root * /usr/local/etc/ktz/home
  file_server 
  import cloudflare
}