(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_cloudflare_api_token }}
  }
}

(headers) {
  {# header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain_nr }} *.{{ domain_nr }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain_nr }} *.{{ domain_nr }}), microphone=()"
  } #}
}

{% for host in caddy_hosts %}
###
{{ host.match_domain }} {
{% if host.tls_selfsigned is defined %}
  reverse_proxy {{ host.reverse_proxy }} {
    transport http {
      tls
      tls_insecure_skip_verify
    }
  }
{% else %}
  reverse_proxy {{ host.reverse_proxy }}
{% endif %}
{% if host.ipmi_headers is defined %}
  import headers
{% endif %}
  import cloudflare
}

{% endfor %}