services:
## media servers
  plex:
    image: plexinc/pms-docker
    container_name: plex
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - "{{ appdata_path }}/mediaservers/plex/config:/config"
      - "{{ storage_path }}:{{ storage_path }}:ro"
      - "/mnt/downloads/complete:/downloads"
    labels:
      - traefik.enable=false
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - "TRANSCODE_PATH=/transcode"
    tmpfs:
      - /transcode:noexec,nosuid,size=8g
    restart: unless-stopped
  # jellyfin:
  #   image: jellyfin/jellyfin
  #   container_name: jellyfin
  #   hostname: jellyfin
  #   devices:
  #     - /dev/dri:/dev/dri
  #   volumes:
  #     - "{{ appdata_path }}/mediaservers/jellyfin:/config"
  #     - "{{ storage_path }}:{{ storage_path }}:ro"
  #     - /mnt/downloads:/downloads:ro
  #   labels:
  #     - traefik.enable=true
  #     - "traefik.http.routers.jellyfin.rule=Host(`jf.wd.ktz.me`)"
  #     - traefik.http.services.jellyfin.loadbalancer.server.port=8096
  #   ports:
  #     - 2285:8096
  #   environment:
  #     - "PUID={{ docker_compose_generator_uid }}"
  #     - "PGID={{ docker_compose_generator_gid }}"
  #     - "TZ=US/Eastern"
  #     - "JELLYFIN_PublishedServerUrl=jf.wd.ktz.me"
  #   restart: unless-stopped
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    volumes:
      - "{{ appdata_path }}/mediaservers/audiobookshelf:/config"
      - "/mnt/rust/media/audiobooks:/audiobooks"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.audiobookshelf.rule=Host(`audiobooks.wd.ktz.me`)"
      - traefik.http.services.audiobookshelf.loadbalancer.server.port=80
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
    restart: unless-stopped
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: "{{ docker_compose_generator_uid }}:{{ docker_compose_generator_gid }}"
    volumes:
      - "{{ appdata_path }}/mediaservers/navidrome:/data"
      - "/mnt/rust/media/music/library:/music:ro"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.navidrome.rule=Host(`navidrome.m.wd.ktz.me`)"
      - traefik.http.services.navidrome.loadbalancer.server.port=4533
    environment:
      - ND_MUSICFOLDER=/music
      - ND_DEVFASTACCESSCOVERART=true
      - ND_COVERARTPRIORITY=embedded
      - "TZ={{ host_timezone }}"
    restart: unless-stopped

  # fileflows:
  #   image: revenz/fileflows
  #   container_name: fileflows
  #   restart: unless-stopped
  #   ports:
  #     - "19200:5000"
  #   devices:
  #     - "/dev/dri:/dev/dri"
  #   labels:
  #     - traefik.enable=true
  #     - "traefik.http.routers.fileflows.rule=Host(`ff.m.wd.ktz.me`)"
  #     - traefik.http.services.fileflows.loadbalancer.server.port=5000
  #   environment:
  #     - TempPathHost=/mnt/nvmeu2/appdata/apps/fileflows/tmp
  #     - TZ=America/New_York
  #     - PUID=1001
  #     - PGID=1001
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - /mnt/nvmeu2/appdata/apps/fileflows/tmp:/temp
  #     - /mnt/bigrust20/video/youtube-tailscale:/app/Data
  #     - /mnt/nvmeu2/appdata/apps/fileflows/logs:/app/Logs
  #     - /mnt/nvmeu2/appdata/apps/fileflows/common:/app/common