---
- name: Install chrony
  ansible.builtin.apt:
    name: chrony
    state: present

- name: Configure chrony
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: "{{ chrony_conf_path }}"
    mode: "0644"
  notify: Restart chrony

- name: Enable and start chrony
  ansible.builtin.systemd:
    name: chrony
    enabled: true
    state: started
