services:
  ## tsidp
  ktz-tsidp:
    container_name: ktz-tsidp
    image: ghcr.io/tailscale/tsidp:latest
    volumes:
      - "{{ appdata_path }}/ktz-tsidp:/data"
    environment:
      - TAILSCALE_USE_WIP_CODE=1
      - "TS_AUTH_KEY={{ tailscale_authkey_cp }}"
      - TS_STATE_DIR=/data
      - TS_HOSTNAME=idp
      - TSIDP_ENABLE_STS=1
    restart: unless-stopped
  ## monitoring
  smokeping:
    image: lscr.io/linuxserver/smokeping
    container_name: smokeping
    volumes:
      - "{{ appdata_path }}/smokeping/config:/config"
      - "{{ appdata_path }}/smokeping/data:/data"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.smokeping.rule=Host(`smokeping.hetz.{{ domain_cloud }}`)"
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
    hostname: ktz-cloud
    restart: unless-stopped
  librespeed:
    image: lscr.io/linuxserver/librespeed
    container_name: librespeed
    ports:
      - 8008:80
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - MODE=standalone
      - TELEMETRY=false
    restart: unless-stopped