(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_cloudflare_api_token }}
  }
}

# *.{{ domain_wd_me }} {
#   @search host search.{{ domain_wd_me }}
#   handle @search {
#     reverse_proxy http://10.42.0.248:8080
#     import cloudflare
#   }

#   @dns host dns.{{ domain_wd_me }}
#   handle @dns {
#     reverse_proxy http://10.42.0.253
#     import cloudflare
#   }
# }

# pihole
dns.{{ domain_wd_me }} {
  #redir / /admin
  reverse_proxy http://10.42.0.253
  import cloudflare
}

# immich
immich.{{ domain_wd_me }}  {
  reverse_proxy http://10.42.1.42:2283
  import cloudflare
}

# abs
abs.{{ domain_wd_me }}  {
  reverse_proxy http://10.42.1.10:2284
  import cloudflare
}

# search
search.{{ domain_wd_me }} {
  reverse_proxy http://10.42.0.248:8080
  import cloudflare
}

## proxmox
# px wd
px.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.1:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# blue iris
bi.{{ domain_wd_me }} {
  reverse_proxy http://10.42.2.1:83
  import cloudflare
}

# pikvm
basement.kvm.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.100:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# pikvm
megadesk.kvm.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.101:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# unifi local
unifi.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.254:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

## gg

# # octonas
# dsm.{{ domain_wd_me }} {
#   reverse_proxy https://100.99.254.122:5001 {
#     transport http {
#       tls_insecure_skip_verify
#     }
#   }
#   import cloudflare
# }

## nr

# pennywise
snowball.{{ domain_wd_me }} {
  reverse_proxy https://100.88.250.125:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}
