(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_cloudflare_api_token }}
  }
}

(headers) {
  header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain_me }} *.{{ domain_wd_me }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain_me }} *.{{ domain_wd_me }}), microphone=()"
  }
}

## core

# c137
c137.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.1:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# pihole
dns.{{ domain_wd_me }} {
  redir / /admin
  reverse_proxy http://10.42.0.253
  import cloudflare
}

# dhcp
dhcp.{{ domain_wd_me }} {
  redir / /dhcp.leases
  reverse_proxy http://10.42.0.253:81
  import cloudflare
}

#opnsense
opnsense.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.254:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

## proxmox
# px morpheus
px.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.10:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# px morpheus
px.m.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.10:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# anton
px.anton.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.20:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# zoidberg
zoidberg.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.42:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# blue iris
bi.{{ domain_wd_me }} {
  reverse_proxy http://10.42.2.1:83
  import cloudflare
}

# pikvm
pikvm.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.100:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# unifi local
unifi.{{ domain_wd_me }} {
  reverse_proxy https://10.42.0.250:8443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# octoprint
bricktop.{{ domain_wd_me }} {
  reverse_proxy https://10.42.1.80:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}