services:
  # unifi
  ktz-unifi:
    image: lscr.io/linuxserver/unifi-network-application
    container_name: ktz-unifi
    volumes:
      - "{{ appdata_path }}/ktz-unifi-netapp/config:/config"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.ubiq.rule=Host(`{{ cloud_url_ubiq }}`)"
      - traefik.http.routers.ubiq.entrypoints=websecure
      - traefik.http.routers.ubiq.tls=true
      - traefik.http.routers.ubiq.tls.certresolver=cloudflare
      - traefik.http.services.ubiq.loadbalancer.server.scheme=https
      - traefik.http.services.ubiq.loadbalancer.server.port=8443
    ports:
      - "{{ cloud_unifi_port_advertise }}:{{ cloud_unifi_port_advertise_int }}"
      - 8080:8080
      - 3478:3478/udp
    environment:
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ host_timezone }}"
      - "MONGO_USER={{ unifi_mongo_db_user }}"
      - "MONGO_PASS={{ unifi_mongo_db_password }}"
      - "MONGO_DBNAME={{ unifi_mongo_db_name }}"
      - MONGO_HOST=ktz-unifi-db
      - MONGO_PORT=27017
    mem_limit: 2g
    restart: unless-stopped
  ktz-unifi-db:
    image: docker.io/mongo:8.2
    container_name: ktz-unifi-db
    logging:
      driver: none
    volumes:
      - "{{ appdata_path }}/ktz-unifi-netapp/db:/data/db"
    restart: unless-stopped