[Unit]
Description=Add custom IP rule at boot for Tailscale
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip rule add to {{ tailscale_routes_subnet }} priority 2500 lookup main
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
