services:
  # monitoring
  smokeping:
    image: lscr.io/linuxserver/smokeping
    container_name: smokeping
    volumes:
      - "{{ appdata_path }}/apps/smokeping/config:/config"
      - "{{ appdata_path }}/apps/smokeping/data:/data"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.smokeping.rule=Host(`smokeping.{{ m_wd_domain_me }}`)"
    environment:
      - PUID=1000
      - PGID=100
      - "TZ={{ host_timezone }}"
    hostname: morpheus
    restart: unless-stopped
  librespeed:
    image: lscr.io/linuxserver/librespeed
    container_name: librespeed
    labels:
      - traefik.enable=false
    ports:
      - 8008:80
    environment:
      - MODE=standalone
    restart: unless-stopped
  glance:
    image: glanceapp/glance
    container_name: glance
    volumes:
      - "{{ appdata_path }}/apps/glance:/app/config"
    labels:
      - traefik.enable=true
      - "traefik.http.routers.glance.rule=Host(`glance.{{ m_wd_domain_me }}`)"
      - traefik.http.services.glance.loadbalancer.server.port=8080
    environment:
      - "TZ={{ host_timezone }}"
    restart: unless-stopped
  glance-ping-graph:
    image: ghcr.io/ironicbadger/glance-ping-graph:latest
    container_name: glance-ping-graph
    labels:
      - traefik.enable=true
      - "traefik.http.routers.ping-graph.rule=Host(`ping.{{ m_wd_domain_me }}`)"
      - traefik.http.services.ping-graph.loadbalancer.server.port=8080
    environment:
      - TARGETS=1.1.1.1:dns,google.com:tcp,10.42.0.253:dns
      - INTERVAL=30s
      - HISTORY=6h
      - "BASE_URL=https://ping.{{ m_wd_domain_me }}"
    restart: unless-stopped